<h1 class='center'>{{ title }}</h1>
<div class='container'>
    <div class="row">
        <pokemon-search></pokemon-search>
        <div *ngFor='let pokemon of pokemons' class="col s6 m4">
            <div style="cursor:pointer;"class="card horizontal z-depth-5" (click)="selectPokemon(pokemon)" pkmn-border-card>
                <div class="card-image">
                    <img [src]="pokemon.picture">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p style="font-weight: bold;">{{ pokemon.name | uppercase }}</p>
                        <!-- on utilise la directive ngFor pour afficher tous les types
        d'un pokémon donnée -->
                        <span *ngFor='let type of pokemon.types' class="{{ type | pokemonTypeColor }}">{{ type }}</span>
                        <p>Évolution : {{ pokemon.evolution }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h4 *ngIf='!pokemon' class='center'>
    <pkmn-loader></pkmn-loader>
</h4>